<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <%= render 'light_section', taxon_name: @taxon.name %>
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <%= render 'side_bar', {taxonomies: @taxonomies} %>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render 'filter_area' %>
          <%= render 'products', products: @products %>
        </div>
      </div>
    </div>
  </section>
  <%= render 'partners_logo_slider' %>
</div>
