<!DOCTYPE html>
<html lang="en">

<html>

<head>
  <!-- SITE TITTLE -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= full_title(yield(:title))%></title>
  <!-- PLUGINS CSS STYLE -->

  <!-- GOOGLE FONT -->
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>

  <!-- CUSTOM CSS -->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= render 'layouts/shim'%>
</head>

<body>
  <%= render 'layouts/header'%>
  <%= yield %>
  <%= render 'layouts/footer'%>
  <%= javascript_include_tag 'application' %>
</body>

</html>
